# Only create a build job IF the branch is 'master'
branches:
  only:
  - master
# Set environment variables for the build job  
env:
  global:
  - SWIFT_BRANCH=swift-5.2.3-branch
  - SWIFT_VERSION=swift-5.2.3-RELEASE
jobs:
  include:
  # The first stage will run all unit tests using Ubuntu
  - stage: Linux test
    os: linux
    language: generic
    dist: trusty
    sudo: required
    install:
    - sudo apt-get install clang libicu-dev
    - mkdir swift
    - curl https://swift.org/builds/$SWIFT_BRANCH/ubuntu1804/$SWIFT_VERSION/$SWIFT_VERSION-ubuntu18.04.tar.gz
      -s | tar xz -C swift &> /dev/null
    - export PATH="$(pwd)/swift/$SWIFT_VERSION-ubuntu18.04/usr/bin:$PATH"
    script:
    - swift package update
    - swift test
  # The second stage will run all tests on macOS
  - stage: OSX test
    os: osx
    osx_image: xcode11.4.1
    language: swift
    sudo: required
    install:
    - wget https://swift.org/builds/$SWIFT_BRANCH/xcode/$SWIFT_VERSION/$SWIFT_VERSION-osx.pkg
    - sudo installer -pkg $SWIFT_VERSION-osx.pkg -target /
    - export PATH="/Library/Developer/Toolchains/$SWIFT_VERSION.xctoolchain/usr/bin:$PATH"
    script:
    - swift package update
    - swift test
